* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: "Cinzel", serif;
    --secondary-font: "Quicksand", sans-serif;

    --primary-color: #1E3D2B;
    --secondary-color: #FFD700;
    --background-color: #b2beb58a;
    --featured-color: #FFF4C2;
}

body {
    font-family: var(--secondary-font);
}

/* HEADER STARTS HERE */

header {
    display: grid;
    grid-template-columns: auto 1fr auto;

    align-items: center;
    position: relative;
    height: 120px;

    background-color: black;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header-container img {
    width: 100px;
    height: 100px;
    margin-left: 0.7rem;
}

.text {
    text-align: left;
    font-size: large;
    color: white;
    font-weight: bold;
    font-family: var(--primary-font);
}

.line1,
.line2 {
    margin: 0.5rem;
}

/* HEADER ENDS HERE */

/* NAVIGATION STARTS HERE */
#burger {
    display: none;
}

nav {
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 1;
    font-size: 1rem;
}


ul.links li a {
    display: block;
    padding: 0.5rem 0.7rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

ul.links,
ul.links.open {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

ul.links {
    gap: 1rem;
}

ul.links a:hover {
    transform: translateY(-3px);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 4px;
}

.links li.active a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 4px;
}

/* HEADER ENDS HERE */

/* MAIN STARTS HERE */

.visit-message {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 1.5rem auto;
    padding: 0.8rem;
    
    background-color: var(--featured-color);
    border: 1px solid var(--background-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
}

main h1 {
    font-family: var(--primary-font);
    padding: 0.7rem;
    text-align: center;
    font-size: 2rem;
}

/* GRID AREAS */
#card-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

#card-container {
    grid-template-areas:
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"
        "card-6"
        "card-7"
        "card-8";
}

.card-1 { grid-area: card-1; }
.card-2 { grid-area: card-2; }
.card-3 { grid-area: card-3; }
.card-4 { grid-area: card-4; }  
.card-5 { grid-area: card-5; }
.card-6 { grid-area: card-6; }
.card-6 { grid-area: card-7; }
.card-6 { grid-area: card-8; }

@media (min-width: 641px) {
    #card-container {
        grid-template-areas:
            "card-1 card-2"
            "card-3 card-4"
            "card-5 card-6"
            "card-7 card-8";
    }
}

@media (min-width: 1025px) {
    #card-container {
        grid-template-areas:
            "card-1 card-2 card-3 card-4"
            "card-5 card-6 card-7 card-8";
    }
}

/* CARDS */
.card {
    border: 1px solid black;
    border-radius: 0.7rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 0.5rem;
    background-color: var(--featured-color);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.card > * {
    width: 100%;
    margin: 0;
    text-align: center;
}

.card h2 {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.card h3 {
    margin: 0 0 8px 0;
    font-size: 1.2em;
    text-align: center;
}

.card figure {
    margin: 0;
    flex-shrink: 0;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.card img:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.card address {
    font-style: normal;
    text-align: center;
    margin-top: -0.5rem;
}

.card p {
    margin: 0.5rem 0;
    text-align: justify;
}

.card button {
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    max-width: 600px;
    align-self: center;
    margin-top: auto;
}

/* MAIN ENDS HERE */

/*FOOTER STARTS HERE */

footer {
    display: grid;
    gap: 20px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: black;
    margin-top: 0.7rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    line-height: 1.5rem;
}

.left-section {
    grid-column: 1;
    margin: 0 auto;
    padding: 0.7rem;
}

.left-section p:first-child {
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: var(--primary-font);
}

.center-section {
    grid-column: 2;
    align-content: center;
    text-align: center;
}

.center-section img {
    width: 70px;
    height: 70px;
    filter: invert(1)
}

.center-section img:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.right-section {
    grid-column: 3;
    text-align: left;
    align-content: center;
    padding: 0.7rem;
}

/* FOOTER ENDS HERE */

/* BACK-TO-TOP BUTTON */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 2px solid var(--primary-color);
    outline: none;
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 50%;
    font-size: 2rem;
    transition: background-color 0.3s, opacity 0.3s;
}

#back-to-top:hover {
    background-color: var(--primary-color);
    color: white
}