@media (max-width: 1300px) {
    .box h2 {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .desktop-wireframe {
        display:none;
    }
    
    .mobile-wireframe {
        display:block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}